			.context, #contexts, #settings {
				display: none;
			}

			.player {
				position: absolute;
				left: 0px;
				top: 0px;
				overflow: hidden;
				display: inline;
			}

			.playerBkg {
				position: absolute;
				overflow: hidden;
				display: none;
			}

			.nclPlayer {
				position: fixed;
				left: 0px;
				top: 0px;
				width: 853px;
				height: 480px;
			}

			#areaControle{
				position:absolute;
				width:134.74px;
				height:600px;
				top:0px;
				left:860px;
			}

			#areaEspacamento1{
				position:relative;
				background-image:url(img_control/espacamento.png);
				height:1%;
				width:100%;
			}

			#areaEspacamento2{
				position:relative;
				background-image:url(img_control/espacamento.png);
				height:1%;
				width:100%;
			}

			#areaEspacamento3{
				position:relative;
				background-image:url(img_control/espacamento.png);
				height:1%;
				width:100%;
			}

			#areaEspacamento4{
				position:relative;
				background-image:url(img_control/espacamento.png);
				height:1%;
				width:100%;
			}

			#areaEspacamento5{
				position:relative;
				background-image:url(img_control/espacamento.png);
				height:1%;
				width:100%;
			}

			#areaEspacamento6{
				position:relative;
				background-image:url(img_control/espacamento.png);
				height:1%;
				width:100%;
			}

			#areaEspacamento7{
				position:relative;
				background-image:url(img_control/espacamento.png);
				height:1%;
				width:100%;
			}

			#areaEspacamento8{
				position:relative;
				background-image:url(img_control/espacamento.png);
				height:1%;
				width:100%;
			}

			#areaPowerEject{
				position:relative;
				height:6%;
				width:100%;
			} 

			#areaAlfanumericos{
				position:relative;
				height:21%;
				width:100%;
			} 

			#areaVolumeChannel{
				position:relative;
				height:20%;
				width:100%;
			} 

			#areaInterativos{
				position:relative;
				height:21%;
				width:100%;
			} 

			#areaColoridos{
				position:relative;
				height:5%;
				width:100%;
			} 

			#areaMultimidia{
				position:relative;
				height:14%;
				width:100%;
			} 

			#areaLogo{
				position:relative;
				height:5%;
				width:100%;
			}
			
			#imgButtonPowerHover, #imgButtonPowerPress{
				position: absolute;
				width: 28px;
				height: 28px;
				top: 5px;
				left:12px;
				cursor:pointer;
			}
			
			#imgButtonEjectHover, #imgButtonEjectPress{
				position: absolute;
				width: 38px;
				height: 28px;
				top: 7px;
				left:93px;
				cursor:pointer;
			}
			
			#imgButtonKey_1Hover, #imgButtonKey_1Press{
	position: absolute;
	width: 32px;
	height: 27px;
	top: 2px;
	left:11px;
	cursor:pointer;
}

#imgButtonKey_2Hover, #imgButtonKey_2Press{
	position: absolute;
	width: 32px;
	height: 27px;
	top: 2px;
	left:51px;
	cursor:pointer;
}

#imgButtonKey_3Hover, #imgButtonKey_3Press{
	position: absolute;
	width: 32px;
	height: 27px;
	top: 2px;
	left:92.5px;
	cursor:pointer;
}

#imgButtonKey_4Hover, #imgButtonKey_4Press{
	position: absolute;
	width: 32px;
	height: 27px;
	top: 33px;
	left:11px;
	cursor:pointer;
}

#imgButtonKey_5Hover, #imgButtonKey_5Press{
	position: absolute;
	width: 32px;
	height: 27px;
	top: 33px;
	left:51px;
	cursor:pointer;
}

#imgButtonKey_6Hover, #imgButtonKey_6Press{
	position: absolute;
	width: 32px;
	height: 27px;
	top: 33px;
	left:92.5px;
	cursor:pointer;
}

#imgButtonKey_7Hover, #imgButtonKey_7Press{
	position: absolute;
	width: 32px;
	height: 27px;
	top: 65px;
	left:11px;
	cursor:pointer;
}

#imgButtonKey_8Hover, #imgButtonKey_8Press{
	position: absolute;
	width: 32px;
	height: 27px;
	top: 65px;
	left:51px;
	cursor:pointer;
}

#imgButtonKey_9Hover, #imgButtonKey_9Press{
	position: absolute;
	width: 32px;
	height: 27px;
	top: 65px;
	left:92.5px;
	cursor:pointer;
}

#imgButtonKey_HashHover, #imgButtonKey_HashPress{
	position: absolute;
	width: 32px;
	height: 27px;
	top: 96px;
	left:11px;
	cursor:pointer;
}

#imgButtonKey_0Hover, #imgButtonKey_0Press{
	position: absolute;
	width: 32px;
	height: 27px;
	top: 96px;
	left:51px;
	cursor:pointer;
}

#imgButtonKey_StarHover, #imgButtonKey_StarPress{
	position: absolute;
	width: 32px;
	height: 27px;
	top: 96px;
	left:92.5px;
	cursor:pointer;
}

#imgButtonVolume_UpHover, #imgButtonVolume_UpPress{
	position: absolute;
	width: 29.5px;
	height: 27px;
	top: 4.5px;
	left:10.5px;
	cursor:pointer;
}

#imgButtonChannel_UpHover, #imgButtonChannel_UpPress{
	position: absolute;
	width: 30px;
	height: 27px;
	top: 5px;
	left:94px;
	cursor:pointer;
}

#imgButtonVolume_DownHover, #imgButtonVolume_DownPress{
	position: absolute;
	width: 29px;
	height: 27px;
	top: 48.5px;
	left:11px;
	cursor:pointer;
}

#imgButtonChannel_DownHover, #imgButtonChannel_DownPress{
	position: absolute;
	width: 29px;
	height: 27px;
	top: 48.5px;
	left:95px;
	cursor:pointer;
}

#imgButtonMenuHover, #imgButtonMenuPress{
	position: absolute;
	width: 56px;
	height: 44px;
	top: 13.5px;
	left:39.5px;
	cursor:pointer;
}

#imgButtonMuteHover, #imgButtonMutePress{
	position: absolute;
	width: 49px;
	height: 38px;
	top: 80px;
	left:2px;
	cursor:pointer;
}

#imgButtonHelpHover, #imgButtonHelpPress{
	position: absolute;
	width: 49px;
	height: 38px;
	top: 80.5px;
	left:85.5px;
	cursor:pointer;
}

#imgButtonInfoHover, #imgButtonInfoPress{
	position: absolute;
	width: 47.5px;
	height: 33px;
	top: -1px;
	left: 2.5px;
	cursor: pointer;
}

#imgButtonGuideHover, #imgButtonGuidePress{
	position: absolute;
	width: 47.5px;
	height: 33px;
	top: -1px;
	left: 86.5px;
	cursor: pointer;
}

#imgButtonExitHover, #imgButtonExitPress{
	position: absolute;
	width: 47.5px;
	height: 33px;
	top: 90px;
	left: 2.5px;
	cursor: pointer;
}

#imgButtonBackHover, #imgButtonBackPress{
	position: absolute;
	width: 47.5px;
	height: 33px;
	top: 90px;
	left: 86.5px;
	cursor: pointer;
}

#imgButtonEnterHover, #imgButtonEnterPress{
	position: absolute;
	width: 78px;
	height: 56px;
	top: 33px;
	left: 30px;
	cursor: pointer;
}

#imgButtonUpHover, #imgButtonUpPress{
	position: absolute;
	width: 59px;
	height: 33px;
	top: 10.5px;
	left: 38px;
	cursor: pointer;
}

#imgButtonDownHover, #imgButtonDownPress{
	position: absolute;
	width: 57.5px;
	height: 24px;
	top: 87.5px;
	left: 39px;
	cursor: pointer;
}

#imgButtonLeftHover, #imgButtonLeftPress{
	position: absolute;
	width: 30px;
	height: 58px;
	top: 34px;
	left: 16px;
	cursor: pointer;
}

#imgButtonRightHover, #imgButtonRightPress{
	position: absolute;
	width: 27px;
	height: 59px;
	top: 34px;
	left: 90px;
	cursor: pointer;
}

#imgButtonRedHover, #imgButtonRedPress{
	position: absolute;
	width: 22px;
	height: 21px;
	top: 4px;
	left: 14px;
	cursor: pointer;
}

#imgButtonGreenHover, #imgButtonGreenPress{
	position: absolute;
	width: 39px;
	height: 26px;
	top: 1px;
	left: 33.5px;
	cursor: pointer;
}

#imgButtonYellowHover, #imgButtonYellowPress{
	position: absolute;
	width: 22px;
	height: 21px;
	top: 4px;
	left: 70px;
	cursor: pointer;
}

#imgButtonBlueHover, #imgButtonBluePress{
	position: absolute;
	width: 40px;
	height: 27px;
	top: 0px;
	left: 90px;
	cursor: pointer;
}

#imgButtonRewindHover, #imgButtonRewindPress{
	position: absolute;
	width: 32px;
	height: 27px;
	top: 10px;
	left: 11.5px;
	cursor: pointer;
}

#imgButtonPlayHover, #imgButtonPlayPress{
	position: absolute;
	width: 65px;
	height: 47px;
	top: -1px;
	left: 35px;
	cursor: pointer;
}

#imgButtonForwardHover, #imgButtonForwardPress{
	position: absolute;
	width: 49px;
	height: 34px;
	top: 6px;
	left: 84px;
	cursor: pointer;
}


#imgButtonPauseHover, #imgButtonPausePress{
	position: absolute;
	width: 45px;
	height: 34px;
	top: 46px;
	left: 45px;
	cursor: pointer;
}

#imgButtonRecHover, #imgButtonRecPress{
	position: absolute;
	width: 26px;
	height: 27px;
	top: 52px;
	left: 16px;
	cursor: pointer;
}

#imgButtonStopHover, #imgButtonStopPress{
	position: absolute;
	width: 26px;
	height: 27px;
	top: 52px;
	left: 93px;
	cursor: pointer;
}
			
			
						
			#areaPlayer2{
				position:absolute;
				top:300px;
				left:900px;
			}