.context, #contexts, #settings {
	display: none;
}

.player {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	display: inline;
}

.playerBkg {
	position: absolute;
	overflow: hidden;
	display: none;
}

.nclPlayer {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 853px;
	height: 480px;
}

#areaRemoteControl{
	position:absolute;
	width:134.74px;
	height:600px;
	top:0px;
	left:860px;
}

#areaSpace1{
	position:relative;
	background-image:url(img_control/space.png);
	height:1%;
	width:100%;
}

#areaSpace2{
	position:relative;
	background-image:url(img_control/space.png);
	height:1%;
	width:100%;
}

#areaSpace3{
	position:relative;
	background-image:url(img_control/space.png);
	height:1%;
	width:100%;
}

#areaSpace4{
	position:relative;
	background-image:url(img_control/space.png);
	height:1%;
	width:100%;
}

#areaSpace5{
	position:relative;
	background-image:url(img_control/space.png);
	height:1%;
	width:100%;
}

#areaSpace6{
	position:relative;
	background-image:url(img_control/space.png);
	height:1%;
	width:100%;
}

#areaSpace7{
	position:relative;
	background-image:url(img_control/space.png);
	height:1%;
	width:100%;
}

#areaSpace8{
	position:relative;
	background-image:url(img_control/space.png);
	height:1%;
	width:100%;
}

#areaPowerEject{
	position:relative;
	height:6%;
	width:100%;
} 

#areaNumbers{
	position:relative;
	height:21%;
	width:100%;
} 

#areaVolumeChannel{
	position:relative;
	height:20%;
	width:100%;
} 

#areaInteractive{
	position:relative;
	height:21%;
	width:100%;
} 

#areaColorful{
	position:relative;
	height:5%;
	width:100%;
} 

#areaMultimedia{
	position:relative;
	height:14%;
	width:100%;
} 

#areaLogo{
	position:relative;
	height:5%;
	width:100%;
}

#imgButtonPowerHover, #imgButtonPowerPress{
	position: absolute;
	width: 29px;
	height: 27px;
	top: 6px;
	left:12px;
	cursor:pointer;
}

#imgButtonEjectHover, #imgButtonEjectPress{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 13px;
	left:102px;
	cursor:pointer;
}
			
#imgButtonKey_1Hover, #imgButtonKey_1Press{
	position: absolute;
	width: 30px;
	height: 24px;
	top: 4px;
	left:12px;
	cursor:pointer;
}

#imgButtonKey_2Hover, #imgButtonKey_2Press{
	position: absolute;
	width: 30px;
	height: 24px;
	top: 4.5px;
	left:52.5px;
	cursor:pointer;
}

#imgButtonKey_3Hover, #imgButtonKey_3Press{
	position: absolute;
	width: 30px;
	height: 24px;
	top: 4.5px;
	left:94px;
	cursor:pointer;
}

#imgButtonKey_4Hover, #imgButtonKey_4Press{
	position: absolute;
	width: 30px;
	height: 24px;
	top: 35.5px;
	left:12px;
	cursor:pointer;
}

#imgButtonKey_5Hover, #imgButtonKey_5Press{
	position: absolute;
	width: 30px;
	height: 24px;
	top: 35.5px;
	left:52.5px;
	cursor:pointer;
}

#imgButtonKey_6Hover, #imgButtonKey_6Press{
	position: absolute;
	width: 30px;
	height: 24px;
	top: 35.5px;
	left:94px;
	cursor:pointer;
}

#imgButtonKey_7Hover, #imgButtonKey_7Press{
	position: absolute;
	width: 30px;
	height: 24px;
	top: 67px;
	left:12px;
	cursor:pointer;
}

#imgButtonKey_8Hover, #imgButtonKey_8Press{
	position: absolute;
	width: 30px;
	height: 24px;
	top: 67px;
	left:52.5px;
	cursor:pointer;
}

#imgButtonKey_9Hover, #imgButtonKey_9Press{
	position: absolute;
	width: 30px;
	height: 24px;
	top: 67px;
	left:94px;
	cursor:pointer;
}

#imgButtonKey_HashHover, #imgButtonKey_HashPress{
	position: absolute;
	width: 30px;
	height: 24px;
	top: 98px;
	left:12px;
	cursor:pointer;
}

#imgButtonKey_0Hover, #imgButtonKey_0Press{
	position: absolute;
	width: 30px;
	height: 24px;
	top: 98px;
	left:52.6px;
	cursor:pointer;
}

#imgButtonKey_StarHover, #imgButtonKey_StarPress{
	position: absolute;
	width: 30px;
	height: 24px;
	top: 98px;
	left:94px;
	cursor:pointer;
}

#imgButtonVolume_UpHover, #imgButtonVolume_UpPress{
	position: absolute;
	width: 29.5px;
	height: 27px;
	top: 4.5px;
	left:10.5px;
	cursor:pointer;
}

#imgButtonChannel_UpHover, #imgButtonChannel_UpPress{
	position: absolute;
	width: 30px;
	height: 27px;
	top: 5px;
	left:94px;
	cursor:pointer;
}

#imgButtonVolume_DownHover, #imgButtonVolume_DownPress{
	position: absolute;
	width: 29px;
	height: 27px;
	top: 48.5px;
	left:11px;
	cursor:pointer;
}

#imgButtonChannel_DownHover, #imgButtonChannel_DownPress{
	position: absolute;
	width: 29px;
	height: 27px;
	top: 48.5px;
	left:95px;
	cursor:pointer;
}

#imgButtonMenuHover, #imgButtonMenuPress{
	position: absolute;
	width: 31.5px;
	height: 35px;
	top: 20px;
	left:51px;
	cursor:pointer;
}

#imgButtonMuteHover, #imgButtonMutePress{
	position: absolute;
	width: 27px;
	height: 30px;
	top: 86px;
	left:12px;
	cursor:pointer;
}

#imgButtonHelpHover, #imgButtonHelpPress{
	position: absolute;
	width: 27px;
	height: 30px;
	top: 86px;
	left:95.5px;
	cursor:pointer;
}

#imgButtonInfoHover, #imgButtonInfoPress{
	position: absolute;
	width: 26px;
	height: 26px;
	top: 4px;
	left: 12.5px;
	cursor: pointer;
}

#imgButtonGuideHover, #imgButtonGuidePress{
	position: absolute;
	width: 26px;
	height: 26px;
	top: 4px;
	left: 96.5px;
	cursor: pointer;
}

#imgButtonExitHover, #imgButtonExitPress{
	position: absolute;
	width: 26px;
	height: 26px;
	top: 95px;
	left: 13px;
	cursor: pointer;
}

#imgButtonBackHover, #imgButtonBackPress{
	position: absolute;
	width: 26px;
	height: 26px;
	top: 95.5px;
	left: 96.5px;
	cursor: pointer;
}

#imgButtonEnterHover, #imgButtonEnterPress{
	position: absolute;
	width: 43px;
	height: 43px;
	top: 42px;
	left: 46px;
	cursor: pointer;
}

#imgButtonCursor_UpHover, #imgButtonCursor_UpPress{
	position: absolute;
	width: 55px;
	height: 22px;
	top: 16px;
	left: 40px;
	cursor: pointer;
}

#imgButtonCursor_DownHover, #imgButtonCursor_DownPress{
	position: absolute;
	width: 53px;
	height: 21px;
	top: 90px;
	left: 41px;
	cursor: pointer;
}

#imgButtonCursor_LeftHover, #imgButtonCursor_LeftPress{
	position: absolute;
	width: 21px;
	height: 54px;
	top: 36px;
	left: 21px;
	cursor: pointer;
}

#imgButtonCursor_RightHover, #imgButtonCursor_RightPress{
	position: absolute;
	width: 21px;
	height: 54px;
	top: 36px;
	left: 93px;
	cursor: pointer;
}

#imgButtonRedHover, #imgButtonRedPress{
	position: absolute;
	width: 22px;
	height: 21px;
	top: 4px;
	left: 14px;
	cursor: pointer;
}

#imgButtonGreenHover, #imgButtonGreenPress{
	position: absolute;
	width: 21px;
	height: 21px;
	top: 4px;
	left: 42px;
	cursor: pointer;
}

#imgButtonYellowHover, #imgButtonYellowPress{
	position: absolute;
	width: 22px;
	height: 21px;
	top: 4px;
	left: 70px;
	cursor: pointer;
}

#imgButtonBlueHover, #imgButtonBluePress{
	position: absolute;
	width: 23px;
	height: 22px;
	top: 4.5px;
	left: 98px;
	cursor: pointer;
}

#imgButtonRewindHover, #imgButtonRewindPress{
	position: absolute;
	width: 32px;
	height: 27px;
	top: 10px;
	left: 11.5px;
	cursor: pointer;
}

#imgButtonPlayHover, #imgButtonPlayPress{
	position: absolute;
	width: 22px;
	height: 38px;
	top: 5px;
	left: 58.5px;
	cursor: pointer;
}

#imgButtonForwardHover, #imgButtonForwardPress{
	position: absolute;
	width: 32px;
	height: 27px;
	top: 11px;
	left: 91.5px;
	cursor: pointer;
}


#imgButtonPauseHover, #imgButtonPausePress{
	position: absolute;
	width: 16px;
	height: 25px;
	top: 53px;
	left: 58.5px;
	cursor: pointer;
}

#imgButtonRecHover, #imgButtonRecPress{
	position: absolute;
	width: 26px;
	height: 27px;
	top: 52px;
	left: 16px;
	cursor: pointer;
}

#imgButtonStopHover, #imgButtonStopPress{
	position: absolute;
	width: 26px;
	height: 27px;
	top: 52px;
	left: 93px;
	cursor: pointer;
}